@model OFamiliar.Models.Movimentos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Movimento</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonoDoMovimento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonoDoMovimento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familia.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familia.Nome)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MovimentosID }, new { @class = "btn btn-success" }) 
    @Html.ActionLink("Regressar a  Listagem", "Index", new { id = "" }, new { @class = "btn btn-primary" })
</p>
