<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Orçamento Famíliar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    @*<span>
                        <img src="~/Content/imag/logotipo.png" width="100" height="100" />*@
                       @Html.ActionLink("Orçamento Familiar", "Index", "Home", null, new { @class = "navbar-brand" })
                    @*</span>*@
                   

              
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* visitantes *@
                @*    <li><img src="~/Content/imag/logotipo.png" width="100" height="100" /></li>*@
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    @* só utilizadores autenticados têm acesso a essas páginas *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MembroFamíliar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Convites", "Index", "Convites")</li>
                                <li>@Html.ActionLink("Famílias", "Index", "Familias")</li>
                                <li>@Html.ActionLink("Movimentos", "Index", "Movimentos")</li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("MembroFamiliar"))
            {
                <li>@Html.ActionLink("Convites", "Index", "Convites")</li>
                <li>@Html.ActionLink("Familias", "Index", "Familias")</li>
                <li>@Html.ActionLink("Movimentos", "Index", "Movimentos")</li>
            }
                    @* só o Administrador tém acesso a essas páginas *@
                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administração<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                <li>@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                                <li>@Html.ActionLink("Pessoas", "Index", "Pessoas")</li>

                            </ul>
                        </li>
                    }
                </ul>



                        @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Julay Vera Cruz</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
